{% extends 'z_layouts/layout_front.html.twig' %}
{% block pagecontent%}

    controller: Acme\Bundle\ProductBundle\Controller

    view: app/Resources/views/product/index

    <h1>Product list11</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('acme_frontend_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acme_frontend_product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('acme_frontend_product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acme_frontend_product_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
